@page
@model DresstoImpress.Pages.LookBookModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <div class="header">
        <h1>Editor's Choice!'</h1>
        <p>Editor's Favorites for Each Season!'</p>
    </div>

    <div class="row">
        <div class="column">
            <h2>Surf's Winter Pick'</h2>
            <img src="~/WinterSurf.png" alt="Winter Outfit" />
        </div>

        <hr class="solid">

        <div class="column2">
            <h2>Surf's Spring Pick'</h2>
            <img src="~/SpringSurf.png" alt="Spring Outfit" />
        </div>

        <hr class="solid">

        <div class="column">
            <h2>Surf's Summer Pick</h2>
            <img src="SummerSurf.jpg" alt="Summer Outfit" />
        </div>

        <hr class="solid">

        <div class="column2">
            <h2>Surf's Fall Pick '</h2>
            <img src="FallSurf.jpg" alt="Fall Outfit" />
        </div>
        <hr class="solid">

    </div>
    <div class="row">
        <div class="column">
            <h2>Rylee's Winter Pick'</h2>
            <img src="Winter.jpg" alt="Winter Outfit" />
        </div>

        <hr class="solid">

        <div class="column2">
            <h2>Rylee's Spring Pick'</h2>
            <img src="Spring.jpg" alt="Spring Outfit" />
        </div>

        <hr class="solid">

        <div class="column">
            <h2>Rylee's Summer Pick</h2>
            <img src="Summer2.jpg" alt="Summer Outfit" />
        </div>

        <hr class="solid">

        <div class="column2">
            <h2>Rylee's Fall Pick '</h2>
            <img src="Fall.jpg" alt="Fall Outfit" />
        </div>
        <hr class="solid">

    </div>
    <div class="row">
        <div class="column">
            <h2>Emily's Winter Pick'</h2>
            <img src="Winter.jpg" alt="Winter Outfit" />
        </div>

        <hr class="solid">

        <div class="column2">
            <h2>Emily's Spring Pick'</h2>
            <img src="Spring.jpg" alt="Spring Outfit" />
        </div>

        <hr class="solid">

        <div class="column">
            <h2>Emily's Summer Pick</h2>
            <img src="Summer2.jpg" alt="Summer Outfit" />
        </div>

        <hr class="solid">

        <div class="column2">
            <h2>Emily's Fall Pick '</h2>
            <img src="Fall.jpg" alt="Fall Outfit" />
        </div>
        <hr class="solid">

    </div>


</body>
